<section>
  <h2>思い立ったが吉日。まずは気軽にお問い合わせを</h2>

  <p>「この案件、ニーモニックに依頼したいかも」と思ったら、以下のフォームよりお問い合わせください。質問は大歓迎ですが、セールスの類は間に合っておりますので、あらかじめご遠慮いただけると助かります。</p>
</section>

<section>
  <form style="max-width: 800px;" (submit)="submit($event)" novalidate>
    <div class="row mb-2">
      <label class="col-sm-3 col-xl-2 col-form-label fw-semibold">お名前</label>

      <div class="col-sm-5">
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': isValidating() && inquiryForm.name().invalid() }" [formField]="inquiryForm.name" />

        <div class="invalid-feedback">@for (error of inquiryForm.name().errors(); track error) {{{ error.message }}}</div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-3 col-xl-2 col-form-label fw-semibold">お電話番号</div>

      <div class="col-sm-5">
        <input type="tel" class="form-control" [ngClass]="{ 'is-invalid': isValidating() && inquiryForm.phone().invalid() }" [formField]="inquiryForm.phone" />

        <div class="invalid-feedback">@for (error of inquiryForm.phone().errors(); track error) {{{ error.message }}}</div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-3 col-xl-2 col-form-label fw-semibold">メールアドレス</div>

      <div class="col-sm-5">
        <input type="email" [ngClass]="{ 'is-invalid': isValidating() && inquiryForm.email().invalid() }" class="form-control" [formField]="inquiryForm.email" />

        <div class="invalid-feedback">@for (error of inquiryForm.email().errors(); track error) {{{ error.message }}}</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-3 col-xl-2 col-form-label fw-semibold">メッセージ</div>

      <div class="col-sm-9 col-xl-10">
        <textarea rows="5" class="form-control" [ngClass]="{ 'is-invalid': isValidating() && inquiryForm.body().invalid() }" [formField]="inquiryForm.body"></textarea>
  
        <div class="invalid-feedback">@for (error of inquiryForm.body().errors(); track error) {{{ error.message }}}</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-9 col-xl-10 offset-sm-3 offset-xl-2">
        <p class="text-zinc lh-sm mb-3"><small>This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</small></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3 offset-xl-2"><button type="submit" class="btn btn-mnemonic">送信</button></div>
    </div>
  </form>
</section>
