.DS_Store
.gcloudignore
.git
.gitignore
.gitattributes
.node-version
.python-version

*.py[cod]
__pycache__/

*.yaml
package.json
package-lock.json
Pipfile
Pipfile.lock
README.md
yarn.lock
yarn-error.log

node_modules
ng

mnemonic-official-py3-54787c046834.json
