[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn main:app --host 0.0.0.0 --port 8080 --reload"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
google-cloud-ndb = "*"
requests = "*"
sendgrid = "*"
pyyaml = "*"
pydantic = "*"
google-cloud-tasks = "*"
jinja2 = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.12"
