[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
google-cloud-ndb = "*"
requests = "*"
sendgrid = "*"
pyyaml = "*"
pydantic = "*"
google-cloud-tasks = "*"
jinja2 = "*"
python-dateutil = "*"
grpcio-status = "==1.48.2"
protobuf = "==3.20.3"

[dev-packages]

[requires]
python_version = "3.9"
