<section>
  <h2>限りなく個人事業主に近いソロカンパニー</h2>

  <p>株式会社ニーモニックは、小林宗明が代表をつとめる「なんちゃってベンチャー」な会社です。2014 年に個人事業主から法人化した、世間でよく言うところの「法人成り」パターン。社員（＝社長）もたったひとりの小さな会社です。</p>
</section>

<section>
  <h2>会社概要</h2>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>会社名</th>
        <td>株式会社ニーモニック</td>
      </tr>
      <tr>
        <th>設立年月日</th>
        <td>2014 年 2 月 14 日</td>
      </tr>
      <tr>
        <th>役員</th>
        <td>代表取締役: 小林宗明</td>
      </tr>
      <tr>
        <th>社員数</th>
        <td>1 名（2026 年 3 月現在）</td>
      </tr>
      <tr>
        <th>主な事業内容</th>
        <td>ウェブサイト制作（企画制作、デザイン制作、システム開発）<br />その他インターネットを利用したサービスの開発</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>代表プロフィール</h2>

  <div class="d-flex">
    <div class="portrait"><img class="border" src="/images/portrait.jpg" alt="著者近影" /></div>

    <div class="ms-4">
      <h3 class="h6">小林宗明<span class="text-zinc fw-light ms-3">Somin Kobayashi</span></h3>

      <p class="lh-sm"><small>1968 年、京都府舞鶴市生まれ。国立舞鶴高専中退。1987 年（当時 19 歳）に上京し、ラジオ番組制作会社のアルバイトなどを経てフリーのライター &amp; 放送作家見習いとして仕事を始める。1995 年あたりからインターネット関連の仕事が増え始め、メーン業務がウェブデザインやシステム開発、サーバ管理などにシフトする。2000 年以降いくつかの制作会社に所属した後、2010 年、一時的にフリーランスに戻ったが、2014 年 2 月、46 歳の誕生日を迎える直前に法人化。株式会社ニーモニックの代表取締役となる。</small></p>

      <p><small>Fecebook: <a href="https://www.facebook.com/somin1968">@somin1968</a></small></p>
    </div>
  </div>
</section>