<section class="mt-10">
  <h1 class="text-xl font-semibold mb-4">限りなく個人事業主に近いソロカンパニー</h1>

  <p>株式会社ニーモニックは、長年フリーランスとしてデザインや開発案件などを手がけてきた <span class="font-semibold">小林宗明</span> が代表をつとめる「なんちゃってベンチャー」な会社です。個人事業主から法人化した、世間でよく言うところの「法人成り」パターン。2014 年にスタートし、社員（＝社長）もたったひとりの小さな会社です。</p>
</section>

<section class="mt-14">
  <h1 class="text-xl font-semibold mb-4">会社概要</h1>

  <table>
    <tbody>
      <tr>
        <th>会社名</th>
        <td>株式会社ニーモニック</td>
      </tr>
      <tr>
        <th>設立年月日</th>
        <td>2014 年 2 月 14 日</td>
      </tr>
      <tr>
        <th>役員</th>
        <td>代表取締役: 小林宗明</td>
      </tr>
      <tr>
        <th>主な事業内容</th>
        <td>ウェブサイト制作（企画制作、デザイン制作、システム開発）<br />その他インターネットを利用したサービスの開発</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="mt-14">
  <h1 class="text-xl font-semibold mb-4">主な取引先</h1>

  <p><em>許可が取れ次第列記していきます。</em></p>
</section>
