<div class="position-fixed start-0 end-0 top-0 bg-mnemonic w-full z-10">
  <div class="container position-relative mx-auto z-11">
    <div class="logomark position-absolute">
      <a routerLink="/"><img class="border border-secondary w-100 h-auto" src="/images/logo.png" alt="ニモニク"></a>
    </div>

    <nav>
      <ul class="d-flex align-items-center mb-0">
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="/about">弊社について</a></li>
        <!-- li><a routerLink="/works">実績紹介</a></li -->
        <li><a routerLink="/blog">技術ブログ</a></li>
        <li><a routerLink="/contact">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="contentBody" [class]="{ isHome: isHome }">
  <header>
    <div class="container mx-auto">
      <h1 class="headding text-zinc m-0">株式会社ニーモニック</h1>
    </div>
  </header>

  <div class="mainContainer container position-relative mx-auto">
    <div class="mainContainerInner d-flex">
      <aside role="complementary">
        <div class="mt-5">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4887705385405786" crossorigin="anonymous"></script>
          <!-- mini_skyscraper -->
          <ins class="adsbygoogle" style="display:inline-block;width:160px;height:480px;border:1px solid #ccc;" data-ad-client="ca-pub-4887705385405786" data-ad-slot="1560402219"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </aside>

      <main role="main">
        <article>
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </article>
      </main>

      <footer>
        <div class="container text-zinc mx-auto py-2">
          <address>&copy; 2014-{{ currentYear }} Mnemonic Co., Ltd. Some Rights Reserved.</address>
        </div>
      </footer>
    </div>
  </div>
</div>
