<div *ngIf="entry">
  <header>
    <h2 class="h1">{{ entry.title }}</h2>

    <p class="text-zinc mt-4 mb-2"><small><i class="bi bi-clock me-2"></i>{{ entry.date | date:'yyyy年M月d日 HH時mm分' }}</small></p>

    <p><small><i class="bi bi-tag-fill"></i><span class="text-mnemonic border border-mnemonic rounded ms-2 px-2 py-1" *ngFor="let tag of entry.tags">{{ tag }}</span></small></p>
  </header>

  <section>
    <div class="mb-5">
      <ngx-twitter-tweet *ngFor="let tweetId of entry.tweetIds" [tweetID]="tweetId" [options]="{ lang: 'ja', layout: 'responsive' }"></ngx-twitter-tweet>
    </div>

    <markdown lineNumbers [data]="entry.body"></markdown>
  </section>

  <ul class="list-unstyled d-flex flex-wrap mt-5">
    <li *ngIf="entry.previous"><small><a [routerLink]="['/blog', entry.previous.id]"><i class="bi bi-chevron-double-left me-2"></i>{{ entry.previous.title }}</a></small></li>
    <li *ngIf="entry.next" class="text-end ms-auto"><small><a [routerLink]="['/blog', entry.next.id]">{{ entry.next.title }}<i class="bi bi-chevron-double-right ms-2"></i></a></small></li>
  </ul>
</div>
